@tailwind base;
@tailwind components;
@tailwind utilities;
.custom-shape-divider-top-1644592334 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1644592334 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1644592334 .shape-fill {
    fill: #000000;
}
.skew-cc{
    width:100%;
    height:100px;
    position:absolute;
    right:0px;
    background: linear-gradient(to left bottom, #1b1b1b 49%, #F3F4F6 50%);
  }
  .skew-inv{
    width:100%;
    height:100px;
    position:absolute;
    left:0px;
    background: linear-gradient(to right top, black 49%, #F3F4F6 50%);
  }
  .body{
      background-image: url('./assets/polka-dots.svg');
  }